@font-face {
    src: url("fonts/CeraPro-Regular.ttf");
}

@font-face {
    src: url("fonts/CeraPro-Medium.ttf");
}

@font-face {
    src: url("fonts/UbuntuMono-B.ttf");
}

#CONSOLE {
    -fx-text-fill: #d8d8d8;
    -fx-font-family: "Ubuntu Mono Bold";
    -fx-font-size: 16px;
}

#BAR_TITLE {
    -fx-text-fill: #f3f8fe;
    -fx-font-family: "CeraPro-Medium";
}

.scroll-pane > .viewport, .scroll-pane {
   -fx-background-color: transparent;
}

.text-area {
    -fx-background-color: transparent;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
